<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcs.communicator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pcs.communicator.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- DaySchedule -->
        <activity android:name="DayScheduleSettingActivity"></activity>
        <activity android:name="DayScheduleActivity"></activity>
		<!-- Calendar -->
        <activity android:name="com.pcs.communicator.CalendarListActivity"></activity>
        <activity android:name="com.pcs.communicator.QuestionManagerActivity"></activity>
       	<activity android:name="com.pcs.communicator.QuestionManagerDetailActivity"></activity>
        <activity android:name="com.pcs.communicator.CalendarQuestionActivity"></activity>
        <activity android:name="com.pcs.fragments.GalleryDialogFragment"></activity>
        <activity
            android:name="com.pcs.communicator.CalendarDetailActivity"
            android:label="@string/title_calendar_detail">
        </activity>
        
    </application>

</manifest>